:root {
  --primary: #906a56;
  --bg: #030303;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  bottom: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 10%;
  background-color: rgba(1, 1, 1, 0.4);
  border-bottom: 1px solid #514e4e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.3rem;
  color: white;
  font-weight: 510;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  display: block;
  content: "";
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
section {
  scroll-margin-top: 5rem; /* sedikit lebih besar dari 4.8rem */
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(1, 1, 0) 8%,
    rgba(255, 255, 255, 0) 40%
  );
}

.hero .content {
  padding: 1.4rem 2%;
  max-width: 40rem;
}

.hero .content h1 {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
  max-width: 30rem;
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.contact h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  border-radius: 15%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 3rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.4rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80;
  margin: 1rem 1rem;
}

.menu .row .menu-card-title {
  margin: 1rem 1rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: center; /* ini yang bikin ikon di tengah vertikal */
  gap: 1rem; /* jarak antara ikon dan input */
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 0.5rem;
}

footer .socials a:hover {
  color: var(--bg);
}

footer .links,
footer .links a:hover {
  margin-bottom: 1.4em;
  color: var(--bg);
}

footer .links a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  padding-bottom: 1.4rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
  }

  /* Saat hamburger di klik */
  .navbar .navbar-nav.active {
    right: 0;
    transition: 0.3s ease;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img {
    height: 40rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile */
@media (max-width: 580px) {
  html {
    font-size: 55%;
  }
  .hero .content {
    /* Hero content di pojok kiri atas */
    margin-top: 10rem;
    max-width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero .content h1 {
    font-size: 3rem; /* lebih kecil agar muat layar HP */
    text-align: left;
    max-width: 20rem;
  }

  .hero .content p {
    font-size: 1.2rem; /* sesuaikan ukuran */
    text-align: left;
  }

  .hero .content .cta {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .about .row .about-img {
    height: 39rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
}
